{%extends 'ToilettagestructureBundle:Main:layout.html.twig'%}

{%block body%}

    <div class="articles">
        <div class="article border-article marge">
            <article class="art-titre"><h1>Une erreur s'est produite</h1></article>
            <article class="art-content"><p>Vous n'avez pas l'autorisation de voir cette page !!!</p><p><a href="{{path('toilettage')}}">Retourner à l'accueil</a></p></article>
        </div>
    </div>
{%endblock%}
