
@font-face
{
    font-family :"IstokWeb";
    src: url('istok_web/istokweb-regular-webfont.eot');
    src: url('istok_web/istokweb-regular-webfont.eot?#iefix'),
         url('istok_web/istokweb-regular-webfont.ttf');
}

body
{
    width : 100%;
    height : 100%;
    font-size:1em;
    font-family: "IstokWeb";
    background-color:#e8e3e3;
}
#top 
{
    width : 100%;
    position:relative;
    display:block;
    top:1.7em;
    height:15em;

} 
.centre
{
    top:2em;
    position: relative;
    display : inline-block;
    height: 1em;
    margin:0;
    background-color : #653925;
    width : 100%;
    -moz-box-shadow: 0px 2px 3px 2px #656565;
    -webkit-box-shadow: 0px 2px 3px 2px #656565;
    -o-box-shadow: 0px 2px 3px 2px #656565;
    box-shadow: 0px 2px 3px 2px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
}
.banniere
{
    width:100%;
    display:block;
    height:15em;
    background-color : #653925;
    top:-15em;
}
.banniere figure,
.cote-left,
.cote-right
{
    display:inline-block;
    position:relative;
}
.cote-right
{
    width:7em;
    height:15em;
    /*top:-0.1em;*/
    background:url('../images/right-bandeau.png');
    background-size:100% 100%;
    left: 55.1em;
}
.cote-left
{
    width:7em;
    /*top:-0.1em;*/
    left:-7em;
    background:url('../images/left-bandeau.png');
    background-size:100% 100%;
    height: 15em;
}

.banniere figure
{
    width : 100%;
    height: 14em;
    top:-15em;
}
.banniere figure img
{
    height:100%;
    width:100%;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;   
    border-radius:5px 5px 5px 5px;
}

.corps
{
    background-color:#e8e3e3;
    height:100%;
    width:100%;
    border-image-source: url('../images/left-corp.jpg');
    display:block;
    position : relative;
    min-height:70em;
    top:0.8em;
    -moz-box-shadow: 0px 6px 15px 10px #d0cbcb;
    -webkit-box-shadow: 0px 6px 15px 10px #d0cbcb;
    -o-box-shadow: 0px 6px 15px 10px #d0cbcb;
    box-shadow: 0px 6px 15px 10px #d0cbcb;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#d0cbcb, Direction=135, Strength=8);
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;   
    border-radius:5px 5px 0px 0px;
}
.toilettage-menu
{
    list-style:none;
    width:100%;
    display : inline-block;
    position:relative;
    height:3em;
    top:2.0em;
    padding-left:2.5em;
}
.toilettage-menu li
{
    display : inline-block;
    position:relative;
    width : 9em;
    line-height:2.6em;
    margin-right : 2em;
    border:1px solid black;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;   
    border-radius:3px 3px 3px 3px;
    /*background-color : #653925;*/
    /*background-color:#f3037b;*/
    background-color: #e11bdf;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.toilettage-menu li a
{
    margin:0 auto;
    display:block;
    text-align:center;
    width:100%;
    height:2.5em;
    /*color:#e11bdf;*/
    /*color:#f3037b;*/
    color :black;;
    font-weight:bold;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.main-title
{
    font-family:"IstokWeb";
    text-align:center;
    display:block;
    position:relative;
    /*color:#c81871;*/
    color:#f3037b;
    width:100%;
    margin-bottom:2em;
}

.toilettage-menu li:hover > a {color:#f3037b;}
.toilettage-menu li:hover {background-color:black;}
.art-titre h2
{
    font-family:"IstokWeb";
    font-size:1.5em;
    text-align:center;
    /*color:#c81871;*/
    color:#f3037b;
    margin-bottom:2em;
}
.article
{
    margin-bottom:4em;
}
.art-content
{
    text-align:justify;
}
.art-titre h2:before
{
    content :'*';
    color:#c81871;
}
.art-titre h2:after
{
    content :'*';
    color:#c81871;
}
.articles
{
    padding-left:4em;
    padding-right:4em;
}
.devanture
{
    width:100%;
}
.avant-apres figure,
.devanture figure
{
    width:49.6%;
    height:auto;
    display:inline-block;
    position:relative;
}
.article ul
{
    list-style:none;
    list-style-position:inside;
    margin-left:1em;
    margin-top:-1em;
}
.article ul li:before
{
    content:"-";
    margin-right:1em;
}
.art-content h3
{
    font-size:1.2em;
    color : #1f6adb;
    text-align:center;
    margin-bottom:2em;
}
.photo-seule figure
{
    width:60%;
    height:auto;
    margin:0 auto;
}
.avant span,
.apres span
{
    width:100%;
    line-height:3em;
    background-color: #e11bdf;
    color:black;
    font-weight:bold;
    opacity:0.8;
    display:block;
    position:relative;
    text-align:center;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;   
    border-radius:5px 5px 0px 0px;
}
.courrier p:first-child
{
    margin-bottom:0.5em;
}
.courrier p:last-child
{
    margin-left:2.5em;

}
.phone
{
    margin-top:1em;
}

.map
{
    margin-bottom:2em;
}
.galerie figure
{
    display:inline-block;
    width:40.5%;
    margin-left:3em;
    margin-bottom:3em;
    margin-right:1em;
}

.courrier p:first-child:before
{
    content:url('../images/courrier.png');
    margin-right:1em;
    vertical-align:middle;
    position:relative;
}
.phone p:before
{
    content: url('../images/phone.png');
    margin-right:1em;
    vertical-align:middle;
    position:relative;
}
.form-email
{
    margin-top : 2em;
    width : 70%;
    height : auto;
    margin: 0 auto;
}

.form-email label,
.form-email input
{
    display: block;
}

.form-email label
{
    margin-bottom : 0.5em;
}

.form-email input
{
    height : 2.5em;
}

.form-email textarea
{
    height : 9em;
    font-size : 0.8em;
}
.admin-content input, .admin-content textarea,
.form-email input, .form-email textarea
{
    -moz-border-radius:0px 0 0 0px; 
    -webkit-border-radius:0px 0 0 0px; 
    border-radius:5px 5px 5px 5px; 
}
.form-email input[type=submit]
{
    margin-top : 1.5em;
    width : 100%;
    /*background-color:#2a4674;*/
    background-color: #e11bdf;
    border-color:#e11bdf;
    font-weight:bold;
    color:black;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.form-email input[type=submit]:hover
{
    color: #e11bdf;    
    border-color:black;
    background-color:black;
}
@media screen and (max-width:780px)
{
    .map embed iframe
    {
        height:100px!important;
    }
    .galerie figure
    {
        margin-left:0.9em;
        margin-right:0.9em;
    }
    .avant-apres figure
    {
        width:45%;
        margin-right:1.1em;
    }
    .avant
    {
        margin-left:0.7em;
}
    .articles
    {
        padding-left:1.5em;
        padding-right:1.5em;
    }
    body
    {
        font-size:0.6em;

    }
    .toilettage-menu
    {
        padding-left:0;
        margin-left:-0.5em;
    }
    .toilettage-menu li
    {
        width:6.8em;
        margin-right:0.01em;
    }
    .banniere figure
    {
        top:0;
    }
    .devanture figure
    {
        width:49.5%;
    }
    .courrier p:last-child
    {
        margin-left:3.5em;
    }

}
