<div class="row barAdmin ">
    <div class="small-12 columns tool-container gradient ">
        <article class="visite">
            <h4>Visites :</h4>
            <section>
                <ul>
                    {#<li>Nombre total de visite : {{visite.total}}</li>#}
                    {#<li>Nombre de visite du mois : {{ visite.mois}}</li>#}
                </ul>
            </section>
        </article>
        <article class="gestion">
            <h4>Gestion :</h4>
            <div>
                <section class="sectionAdmin" id="marquesAdmin">
                    <ul>
                        <li>Marques</li>
                    </ul>
                </section>
                <section id="promotionsAdmin" class="sectionAdmin">
                    <ul>
                        <li>Promotions</li>
                    </ul>
                </section>
                <section id="pagesAdmin" class="sectionAdmin">
                    <ul>
                        <li>Pages</li>
                    </ul>
                </section>
                <section id="sliderAdmin" class="sectionAdmin">
                    <ul>
                        <li>Slider</li>
                    </ul>
                </section>
            </div>
        </article>
    </div>
</div>
