<div class="centre"> </div>
<div id="top">
    <div class="row">
        <div class="banniere">
            {%if app.session.get('mobile') == false%}
                <div class="cote-left"></div>
                <div class="cote-right"></div>
            {%endif%}
            <figure><a href="{{path('toilettage_accueil')}}"><img src="{{asset('bundles/toilettage/images/logo.jpg')}}" /></a></figure>
        </div>
    </div>
</div>
